/*Custom Fonts*/

$Heebo-Bold: 'Heebo-Bold';
$Heebo-Light:'Heebo-Light';
$Heebo-Regular:'Heebo-Regular';
$Heebo-Medium:'Heebo-Medium';

/*Fonts Colors*/

$LightGreyColor: #ccc;
$DarkGreyColor: #202020;
$WhiteColor:#fff;
$GreenColorBtn:#e6b800;
$GreenColorTxt:#dacb80;
$VioletColor:#cecece;
$OrangeColor:#e6b800;
$GreenGridColor:#e6b800;
$YellowGridColor:#e6b800;
$VioletHeadGridColor:#adadad;
$GreyBoderColor:#e4eaee;
$InputBorderColor:#dde3e8;
$GreyGridColor:#7c7c7c;
$blockGreyColor: #2b2b2b;

/*media queries*/

// $tabletLandscape: 1024px;
// $deskPort: 768px;
// $mobileLandscape: 667px;
// $mobilePort:375px;
// $XsmobilePort:320px;
$tabletLandscape:1200px;
$extraDeskPort:992px;
$deskPort:768px;
$mobileLandscape: 750px;
$mobilePort:576px;
$XsmobilePort:400px;
$XxsmobilePort:320px;
$XsmobilePortLandScape:480px;
