/*Custom Fonts*/

$Heebo-Bold: 'Heebo-Bold';
$Heebo-Light:'Heebo-Light';
$Heebo-Regular:'Heebo-Regular';
$Heebo-Medium:'Heebo-Medium';
/*Fonts Colors*/

$LightGreyColor: #ccc;
$DarkGreyColor: #1b2136;
$WhiteColor:#fff;
$GreenColorBtn:#2dce71;
$GreenColorTxt:#00ffc8;
$VioletColor:#628fed;
$OrangeColor:#e6b800;
$GreenGridColor:#e6b800;
$YellowGridColor:#f8e71c;
$VioletHeadGridColor:#3977e6;
$GreyBoderColor:#e4eaee;
$InputBorderColor:#dde3e8;
$GreyGridColor:#788995;
$blockGreyColor:  #333333;
/*media queries*/

// $tabletLandscape: 1024px;
// $deskPort: 768px;
// $mobileLandscape: 667px;
// $mobilePort:375px;
// $XsmobilePort:320px;
$tabletLandscape:1200px;
$extraDeskPort:992px;
$deskPort:768px;
$mobileLandscape: 750px;
$mobilePort:576px;
$XsmobilePort:400px;
$XxsmobilePort:320px;
$XsmobilePortLandScape:480px;
