@import '../../../../sass/variables';
@import '../../../../sass/mixins';
@import '../../../../sass/fonts';
.header {
    display: block;
    padding: 15px 0;
    height: 70px;
    @include mq($deskPort) {
        height: auto;
    }
    @include mq($mobilePort) {
        height: auto;
    }
    @include mq($extraDeskPort) {
        height: auto;
    }
    .navbar-header {
        float: left;
        a {
            &.navbar-brand {
                text-decoration: none;
                outline: none;
                font-size: 0;
                float: left;
                &.logo {
                    width: 162px;
                    background-color: #6675a8;
                    display: block;
                    text-align: center;
                    padding: 8px 0 10px 0;
                    margin-top: 5px;
                }
            }
        }
        span {
            font-size: 16px;
            color: #c4c7d2;
            margin: 0;
            padding: 0;
            font-family: $Heebo-Light;
            float: left;
            margin: 11px 9px 0 0;
        }
        em {
            float: left;
            width: 45px;
            border-radius: 7px;
            background-color: #f8e71c;
            text-align: center;
            font-family: $Heebo-Medium;
            font-size: 8px;
            font-weight: 500;
            color: $DarkGreyColor;
            padding: 1px 0;
            font-style: normal;
            margin: 18px 0 0 0;
            line-height: 9px;
        }
    }
    .iconeRight {
        position: relative;
        padding-top: 7px;
        @include mq($deskPort) {
            &.pull-right {
                float: none;
                display: inline-block;
            }
        }
        @include mq($extraDeskPort) {
            &.pull-right {
                float: none;
                display: inline-block;
            }
        }
        ul {
            flex-direction: inherit;
            li {
                float: left;
                padding-right: 20px;
                &.logs {
                    margin-top: -1px;
                }
                @include mq($tabletLandscape) {
                    padding-right: 5px;
                }
                @include mq($mobilePort) {
                    float: none;
                    padding-right: 0;
                    display: block;
                    width: 100%;
                    margin-bottom: 5px;
                }
                &:last-child {
                    padding-right: 0;
                }
                &.dropdown {
                    position: relative;
                    img {
                        cursor: pointer;
                    }
                    .dropdown-menu-list {
                        display: block !important;
                        position: absolute;
                        right: 7px;
                        top: 35px;
                        width: 258px;
                        left: auto;
                        z-index: 1;
                        animation-name: bounceInDown;
                        h2 {
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;
                            background-color: #3977e6;
                            font-family: $Heebo-Light;
                            font-size: 13px;
                            color: $WhiteColor;
                            padding: 10px 10px;
                            margin: 0;
                        }
                        .dropdown-inner {
                            background: $WhiteColor;
                            .vscroll {
                                height: 127px;
                                overflow-x: hidden;
                                overflow-y: scroll;
                                &::-webkit-scrollbar {
                                    width: 4px;
                                    height: 5px;
                                    border-radius: 6px;
                                    &-track {
                                        background-color: #424962;
                                        border-radius: 6px;
                                    }
                                    &-thumb {
                                        background-color: #e6b800;
                                        border-radius: 6px;
                                    }
                                    &-button {
                                        display: none;
                                    }
                                }
                            }
                            ul {
                                margin: 0;
                                padding: 0;
                                li {
                                    display: block;
                                    overflow: hidden;
                                    clear: both;
                                    float: none;
                                    padding: 10px 10px;
                                    border-bottom: 1px solid #b4b4b4;
                                    span {
                                        font-family: $Heebo-Regular;
                                        font-size: 12px;
                                        color: $DarkGreyColor;
                                        float: left;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        width: 170px;
                                        display: block;
                                    }
                                    a {
                                        height: 14px;
                                        width: 18px;
                                        display: block;
                                        border: none;
                                        text-indent: -5000px;
                                        font-size: 0;
                                        line-height: 0;
                                        text-decoration: none;
                                        float: right;
                                        margin: 1px 0 0 0;
                                        cursor: pointer;
                                        &.accept {
                                            background: url(/assets/images/accept.png) no-repeat 0 0;
                                            margin: 0 15px 0 0;
                                        }
                                        &.reject {
                                            background: url(/assets/images/reject.png) no-repeat 0 0;
                                        }
                                    }
                                    .popover-list {
                                        margin: 0;
                                        padding: 0;
                                        border-radius: 4px;
                                        span {
                                            padding: 5px 12px;
                                            margin: 0;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            display: block;
                                            font-family: $Heebo-Regular;
                                            font-size: 11px;
                                            color: $DarkGreyColor;
                                            display: block;
                                            border-bottom: 1px solid #ccc;
                                            width: 273px;
                                            &:last-child {
                                                border-bottom: none !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .count {
                        color: $WhiteColor;
                        border-radius: 50%;
                        width: 17px;
                        height: 17px;
                        background: red;
                        display: block;
                        font-size: 11px;
                        font-weight: bold;
                        text-align: center;
                        position: absolute;
                        top: -4px;
                        left: 9px;
                    }
                }
                &.compile-deploy {
                    a {
                        padding: 5px 10px 5px 10px;
                        color: $WhiteColor;
                        font-size: 13px;
                        background: #647197;
                        border-radius: 4px;
                        font-family: $Heebo-Regular;
                        &:hover {
                            text-decoration: none;
                        }
                        @include mq($tabletLandscape) {
                            font-size: 12px;
                        }
                        @include mq($mobileLandscape) {
                            font-size: 9px;
                        }
                        @include mq($mobilePort) {
                            font-size: 13px;
                            display: block;
                        }
                    }
                }
                &.logs {
                    @include mq($mobileLandscape) {
                        margin-top: 4px;
                    }
                    @include mq($mobilePort) {
                        margin-top: 0;
                    }
                    >div {
                        padding: 5px 10px 5px 10px;
                        color: $WhiteColor;
                        font-size: 13px;
                        background: #647197;
                        border-radius: 4px;
                        font-family: $Heebo-Regular;
                        @include mq($mobileLandscape) {
                            padding: 0px 10px 4px 10px;
                        }
                        @include mq($mobilePort) {
                            padding: 5px 10px 5px 10px;
                        }
                        em {
                            font-style: normal;
                            font-family: $Heebo-Bold;
                            @include mq($mobileLandscape) {
                                font-size: 10px;
                            }
                            @include mq($mobilePort) {
                                font-size: 13px;
                            }
                        }
                        a {
                            color: $WhiteColor;
                            font-size: 13px;
                            font-family: $Heebo-Regular;
                            display: inline-block;
                            @include mq($mobileLandscape) {
                                font-size: 9px;
                            }
                            @include mq($mobilePort) {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.notification-list{
    border-radius: 2px;
    width: 400px;
    height: auto;
    z-index: 111;
    top: 25px;
    right: 0;
    position: absolute;
    background:  #333333;
    max-height: 200px;
    color:white;
    font-family: "Heebo-Light";
}

.notification-list ul {
    padding: 8px;
  }

.notification-list ul li{
    list-style: none;
    font-size: 12px;
    padding: 0px;
    color: #b5d3f7;
    margin-bottom: 5px;
    border-bottom: 1px solid white;
}

.notification-list span {
    float: left;
    color: #fff;
    font-size: 14px;
    font-family: "Heebo-Light";
    display: block;
    margin-top: 1px;
    padding: 5px;
    border-bottom: 1px solid white;
    width: 97%;
    margin-left: 7px;
}
