@import '../../../../../sass/variables';
@import '../../../../../sass/mixins';
@import '../../../../../sass/fonts';
.p-dialog-wrapper {
  .p-dialog-inner {
    height: auto;
    overflow: hidden;
    padding: 0;
    .v-scrollbar {
      height: 354px;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 0 15px 0 0;
      scroll-behavior: smooth;
      position: relative;
      &::-webkit-scrollbar {
        width: 4px;
        height: 5px;
        border-radius: 6px;
        &-track {
          background-color: #333333;
          border-radius: 6px;
        }
        &-thumb {
          background-color: #e6b800;
          border-radius: 6px;
        }
        &-button {
          display: none;
        }
      }
      .form-footer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 137px;
        >.form-group {
          position: fixed;
          max-width: 128px;
          bottom: 98px;
          padding: 0;
        }
      }
    }
    label {
      letter-spacing: 0.5px;
      text-align: left;
      color: #737171;
      font-family: $Heebo-Bold;
      text-transform: uppercase;
      font-size: 12px;
    }
    input.form-control {
      border-radius: 3px;
      border: solid 1px $InputBorderColor;
      transition: none;
      font-family: $Heebo-Light;
      font-size: 13px;
      color: $GreyGridColor;
      padding: 5px 10px;
      &:focus {
        box-shadow: none;
      }
    }
    .btn-green {
      border-radius: 4px;
      background-color: $GreenColorBtn;
      font-family: $Heebo-Medium;
      border: 0;
      color: #fff;
      text-transform: uppercase;
      padding: 8px 35px;
      font-weight: 600;
      font-size: 14px;
      margin: 2px 3px 0 0;
      display: block;
    }
    .ui-tooltip-text {
      width: fit-content;
      &.ui-shadow {
        &.ui-corner-all {
          font-family: $Heebo-Regular;
          font-size: 12px;
          color: $WhiteColor;
          white-space: nowrap;
        }
      }
    }
    .form-group {
      position: relative;
      padding-bottom: 10px;
    }
    .form-footer .form-group {
      padding-bottom: 0;
      margin-bottom: 3px;
    }
    .has-error {
      .form-control {
        border-bottom-color:  #b38f00;
      }
    } // .ng-invalid {
    //   animation-name: fadeIn;
    // }
    // .errorMsg {
    //   color: #d00;
    //   font-family: $Heebo-Light;
    //   font-size: 11px;
    //   display: none;
    //   position: absolute;
    //   left: 15px;
    //   bottom: -11px;
    // }
    // .has-error .errorMsg {
    //   display: block;
    // }
    // .float-left {
    //   float: left;
    // }
    .icon-whitelist {
      background: url('/assets/images/whitelist1.png') no-repeat 0 0 / cover;
      display: block;
      width: 24px;
      height: 24px;
    }
    .icon-normal {
      background: url('/assets/images/normal.png') no-repeat 0 0 / cover;
      display: block;
      width: 24px;
      height: 24px;
    }
  }
}

.p-dialog-wrapper-ip {
  .ip-bottom {
    background: #f5f5f5;
    padding: 10px;
    border-top: 2px solid #ccc;
  }
  table tr {
    td:first-child {
      width: 50px;
    }
    td:last-child {
      width: 195px;
    }
    td {
      width: auto;
    }
  }
  .ip-top {
    ul.list-ips li {
      font-size: 20px;
      width: calc(50% - 2px);
      margin: 0 1px 1px 0;
      padding: 10px 15px;
      float: left;
      span {
        display: inline-block;
        cursor: pointer;
      }
    }
    label {
      font-size: 17px;
      margin: 0;
      line-height: 50px;
    }
    input.form-control {
      font-size: 18px;
      border-radius: 0;
    }
    button.btn-green {
      border-radius: 0;
      margin: 0
    }
    button.btn-footer {
      margin-left: 10px
    }
  }
}
